* {
    padding: 0;
    margin: 0;
}
body {
    background: #D9DFE3;
    font-family: 'Playfair Display', serif;
}
li a {
    text-decoration: none;
    color: grey;
}
li a:hover {
    font-size: 16px;
    color: #000000;
}
.header {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}
.logo {
    align-self: flex-start;
    font-size: 24px;   
}
.logo a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
ul {
    list-style: none;
    align-self: flex-end;
    margin-top: 3px;
    
}
ul li {
    display: inline;
    margin-left: 30px;
    font-size: 12px;
}
.main {
    margin-top: 7%;
    margin-left: 20%;
    margin-bottom: 30px;
}
.main h1 {
    font-weight: 100;
    font-size: 40px;
}
form {
    margin-left: 20%;
    margin-top: 10px;
    font-size: 12px;
}
input[type=text] {
    height: 25px;
    padding: 8px;
    margin-right: -5px;
    background: #D9DFE3;
    border: 0.4px solid grey;
}
#search {
    height: 41.78px;
    width: 80px;
    padding: 7px;
    background:#4B89DC;
    color: #fff;
    border: none;
    cursor: pointer;
}
#foo {
    padding-right: 80px;
    width: 300px;
    /* border-radius: 2px 2px; */
}
#bar {
    width: 120px;
}
.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
}
.image {
    width: 33.3%;
    height: 500px;
    border: none;   
}
.image img {
    width: 15px;
    height: 15px; 
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.one {
    background: url(https://images.unsplash.com/photo-1512163991072-5a9afe2cf0ad?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=452380e0731e7ecb93b8d15bec24cafe&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
}
.two {
    background: url(https://images.unsplash.com/photo-1495580847032-db0bac41d44b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ec0b714e0ad7ddedb52b583c9b5aaaaa&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
}
.three {
    background: url(https://images.unsplash.com/photo-1517627043994-b991abb62fc8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=26c15016bfb1dd727cb19d0f189dd291&auto=format&fit=crop&w=360&q=80);
    background-size: cover;   
}
.lastContent {
    margin-top: 50%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    height: 180px;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}
.lastContent p {
    font-weight: 10;
    font-size: 15px;
    margin: 0 50px;
}
@media only screen and (max-width: 600px) {
    input[type=text] {
        width: 75%;
        margin: 10px auto;
        /* border-radius: 10px; */
    }
    #foo {
        width: 75%;
        padding-right: 0;
    
    }
    #search {
        width: 50%;
        margin-top: 10px;
    }
    .image {
        width: 100%;
    }
    
}
  
